*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* nav */
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background:rgba(245, 245, 220, 0.404);
}

.nav-bar .nav-logo{
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.nav-bar .nav-items{
    display: flex;
    align-items: center;
    
}
.nav-bar .nav-items .nav-item{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    transition-property:background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    
}

.nav-bar .nav-items .nav-item:hover{
    background-color: rgb(138, 138, 138);
    color: gray;
    transform: scale(1.3);
    border: 2px solid transparent;
    border-radius: 20px;
    
}

/* hero */
.hero-section{
    min-height: 90vh;
    background-image:linear-gradient(to left, rgba(194, 190, 190, 0.5),rgba(255, 241, 241, 0.3)),url(/image/hero-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.hero-section .section-content{
    color: rgb(36, 85, 133);
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 400px;  
    border: 2px solid grey; 
    border-radius: 20px;
    box-shadow: 0 2px 5px black;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.hero-section .section-content h1,p,h3{
    margin-bottom: 20px;
}

@keyframes slideIn{
    0%{transform: translatex(-100%);}
    100%{transform: translatex(100%);}
}
/* products */
.products-section .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}

.products-section .card-grid .card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
